{% load static %}
<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Signup </title>
    <link rel="stylesheet" href={% static "css/signup.css"  %}>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
    
  <div class="container">
    {% if messages %}
{% endif %}
    <div class="title">USER REGISTRATION</div>
    <div class="content">
      <form action="/register/" method="post">
         {% csrf_token %}
        <div class="user-details">
          <div class="input-box">
            <span class="details">Name</span>
            <input type="text" value="{% if request.POST.rfname %}{{ request.POST.rfname }}{% endif %}" name="rfname" placeholder="Enter Your Name" required>
            {% if errors.rfname %}
            <span class="badge text-bg-danger"><p class="error-message" style="color: red; font-size: 14px;">{{ errors.rfname }}</p></span>
        {% endif %}
          </div>
          <div class="input-box">
            <span class="details">Phone number</span>
            <input type="text" value="{% if request.POST.rcontact %}{{ request.POST.rcontact }}{% endif %}" name="rcontact" placeholder="Enter Your Phone Number" required>
            {% if errors.rcontact %}
            <p class="error-message" style="color: red; font-size: 14px;">{{ errors.rcontact }}</p>
        {% endif %}
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input type="text" value="{% if request.POST.remail %}{{ request.POST.remail }}{% endif %}" name="remail" placeholder="Enter Your Email" required>
            {% if errors.remail %}
            <p class="error-message" style="color: red; font-size: 14px;">{{ errors.remail }}</p>
        {% endif %}
          </div>
          <div class="input-box">
            <span class="details">Username</span>
            <input type="text" value="{% if request.POST.runame %}{{ request.POST.runame }}{% endif %}" name="runame" placeholder="Enter Username" required>
            {% if errors.runame %}
            <p class="error-message" style="color: red; font-size: 14px;">{{ errors.runame }}</p>
        {% endif %}
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input type="password" name="rpass" placeholder="Enter Your Password" required>
            {% if errors.rpass %}
            <p class="error-message" style="color: red; font-size: 14px;">{{ errors.rpass }}</p>
        {% endif %}
          </div>
        </div>
        <div class="button">
            <input type="submit" value="Register">
        </div>
      </form>
      <div class="sign-txt">Already have an account? <a style="color: blue;" href="{% url 'login' %}">Login</a></div>
      <div class="sign-txt">Back to <a href="#">Home</a></div>
    </div>

  </div>
  

</body>
</html>
